APP_PORT=8080
FRONTEND_PORT=5173
MYSQL_PORT=3306
MYSQL_DATABASE=booking_service
MYSQL_USER=booking_user
MYSQL_PASSWORD=booking_password
MYSQL_ROOT_PASSWORD=root_password
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
